xjc-javadoc-plugin/src/test/resources/Cardinality.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fr/pinguet62/xjc/javadoc">

	<xs:complexType name="CardinalityClass">
		<xs:sequence>
			<xs:element name="singleAttr" type="xs:string" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Comment of xs:element singleAttr</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="multipleAttr" type="xs:string" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Comment of xs:element multipleAttr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>