src/test/resources/boolean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fr/pinguet62/jaxb/javadoc/model">

	<xs:complexType name="BooleanClass">
		<xs:sequence>
			<xs:element name="primitiveAttr" type="xs:boolean" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Comment of xs:element primitiveAttr</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="objectAttr" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Comment of xs:element objectAttr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>